table{
	margin-left: 30%;
}
td{
	width: 100px;
	height: 40px;
	border-color: white;
	transition: 999999999999999s linear background-color;
	border: 2px solid black;
	text-align: center;
}

.kostyl{
	border: 0px solid black;
}

a:link{
	color: green;
}

a:visited{
	color: white;
}
iframe{
	border: 5px solid black;
	margin-left: 25%;
}
